{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">

</head>
<body>
    <h1>Categories</h1>
    
    <ul>
    {% for category in categories %}
        <li>{{ category.name }}
            <ul>
            {% for sub in category.subcategories.all %}
                <li>{{ sub.name }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

    <!-- Navigation buttons -->
    <a href="{% url 'home' %}"> GO Home</a> | 
    <a href="{% url 'products' %}">Products</a>
</body>
</html>

