{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">

</head>
<body>
    <h1>All Products</h1>
    <ul>
    {% for product in products %}
        <li>{{ product.name }} - ₹{{ product.price }} - {{ product.category }}</li>
    {% endfor %}
    </ul>

    <!-- Navigation buttons -->
    <a href="{% url 'home' %}">GO Home</a> | 
    <a href="{% url 'categories' %}">Categories</a>
</body>
</html>



    

